// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol{
    padding-left: 0;
}

.background_post{

    h1{
        text-transform: uppercase;
    }
}


.cards_main{

    li{
        list-style-type: none;
        width: 300px;
        margin-top: 2rem;
        padding: 0.5rem;
        background-color: lightgray;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black;
    }
}
